In [27]:
import pandas as pd
import numpy as np
from varname import nameof

In [53]:
A = [[-2,-2,1],[0,2,0],[-1,-3,-3],[-2,2,-3]]
B = [[-1,-2,-1,1],[0,2,3,2]]
C = [[0,2,3,0],[0,-3,2,1],[3,3,-3,-1],[3,0,3,-1]]

In [66]:
def matrixmultiplikation(A,B):
    print("A")
    print(pd.DataFrame(A))
    print()
    print("B")
    print(pd.DataFrame(B))

    #spaltenhzahl der ersten = zeilenzahl der zweiten
    if len(A[0]) != len(B):
        return "Nicht definiert! (Weil A "+str(len(A[0]))+" Spalten und B "+str(len(B))+ " Reihen hat)"

    #das product hat so viel spalten wie die zweite && zeilen wie die erste
    #f√ºr die len(A)=ZeilenZahl von A, packe sublisten mit 0 von der len(B[0]) = SpaltenZahl       von B
    C =  [ [ 0 for i in range(len(B[0])) ] for j in range(len(A))]

    for i in range(len(A)):
        for j in range(len(B[0])):
            for k in range(len(A[0])):
                C[i][j] += A[i][k] * B[k][j]      
            
    return pd.DataFrame(C)

In [67]:

matrixmultiplikation(A,B)

A
   0  1  2
0 -2 -2  1
1  0  2  0
2 -1 -3 -3
3 -2  2 -3

B
   0  1  2  3
0 -1 -2 -1  1
1  0  2  3  2

'Nicht definiert! (Weil A 3 Spalten und B 2 Reihen hat)'

In [68]:
matrixmultiplikation(B,A)

A
   0  1  2  3
0 -1 -2 -1  1
1  0  2  3  2

B
   0  1  2
0 -2 -2  1
1  0  2  0
2 -1 -3 -3
3 -2  2 -3

   0  1   2
0  1  3  -1
1 -7 -1 -15

In [69]:
matrixmultiplikation(A,C)

A
   0  1  2
0 -2 -2  1
1  0  2  0
2 -1 -3 -3
3 -2  2 -3

B
   0  1  2  3
0  0  2  3  0
1  0 -3  2  1
2  3  3 -3 -1
3  3  0  3 -1

'Nicht definiert! (Weil A 3 Spalten und B 4 Reihen hat)'

In [70]:
matrixmultiplikation(C,A)

A
   0  1  2  3
0  0  2  3  0
1  0 -3  2  1
2  3  3 -3 -1
3  3  0  3 -1

B
   0  1  2
0 -2 -2  1
1  0  2  0
2 -1 -3 -3
3 -2  2 -3

   0   1   2
0 -3  -5  -9
1 -4 -10  -9
2 -1   7  15
3 -7 -17  -3

In [71]:
matrixmultiplikation(B,C)

A
   0  1  2  3
0 -1 -2 -1  1
1  0  2  3  2

B
   0  1  2  3
0  0  2  3  0
1  0 -3  2  1
2  3  3 -3 -1
3  3  0  3 -1

    0  1  2  3
0   0  1 -1 -2
1  15  3  1 -3

In [72]:
matrixmultiplikation(C,B)

A
   0  1  2  3
0  0  2  3  0
1  0 -3  2  1
2  3  3 -3 -1
3  3  0  3 -1

B
   0  1  2  3
0 -1 -2 -1  1
1  0  2  3  2

'Nicht definiert! (Weil A 4 Spalten und B 2 Reihen hat)'

In [73]:
matrixmultiplikation(A,A)

A
   0  1  2
0 -2 -2  1
1  0  2  0
2 -1 -3 -3
3 -2  2 -3

B
   0  1  2
0 -2 -2  1
1  0  2  0
2 -1 -3 -3
3 -2  2 -3

'Nicht definiert! (Weil A 3 Spalten und B 4 Reihen hat)'

In [74]:
matrixmultiplikation(B,B)

A
   0  1  2  3
0 -1 -2 -1  1
1  0  2  3  2

B
   0  1  2  3
0 -1 -2 -1  1
1  0  2  3  2

'Nicht definiert! (Weil A 4 Spalten und B 2 Reihen hat)'

In [75]:
matrixmultiplikation(C,C)

A
   0  1  2  3
0  0  2  3  0
1  0 -3  2  1
2  3  3 -3 -1
3  3  0  3 -1

B
   0  1  2  3
0  0  2  3  0
1  0 -3  2  1
2  3  3 -3 -1
3  3  0  3 -1

    0   1   2  3
0   9   3  -5 -1
1   9  15  -9 -6
2 -12 -12  21  7
3   6  15  -3 -2